@page "/"

<h1>Prism Soundboard</h1>

<div class="row">
    <div class="col">
        <h2>Output Device</h2>
        @foreach (var output in Program.AudioService.OutputDevices)
        {
            <div class="row mb-2">
                @if (Program.AudioService.SelectedAudioOutputDevice == output)
                {
                    <button type="button" class="btn btn-primary" @onclick="@(() => Program.AudioService.SelectedAudioOutputDevice = output)">@output</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" @onclick="@(() => Program.AudioService.SelectedAudioOutputDevice = output)">@output</button>
                }
            </div>
        }
    </div>
    <div class="col">
        <h2>Monitor Device</h2>
        @foreach (var monitor in Program.AudioService.MonitorDevices)
        {
            <div class="row mb-2">
                @if (Program.AudioService.SelectedAudioMonitorDevice == monitor)
                {
                    <button type="button" class="btn btn-primary" @onclick="@(() => Program.AudioService.SelectedAudioMonitorDevice = monitor)">@monitor</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" @onclick="@(() => Program.AudioService.SelectedAudioMonitorDevice = monitor)">@monitor</button>
                }
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-danger" @onclick="@(()=> Program.AudioService.Play())">Play</button>
        <button type="button" class="btn btn-secondary" @onclick="@(()=> Program.AudioService.Stop())">Stop</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Audio files</h2>
        @foreach (var audio in Program.AudioService.AudioFiles)
        {
            @if (Program.AudioService.SelectedFile == audio)
            {
                <button type="button" class="btn btn-primary" @onclick="@(() => Program.AudioService.SelectedFile = audio)">@audio</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="@(() => Program.AudioService.SelectedFile = audio)">@audio</button>
            }
        }
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
